<div class="row">
    <div class="col-md-12">
        <h1>UU / AD/ ART Kadin</h1>

        <a class="list-item" href="https://kadin.id/tentang-kami/uu-ad-art-kadin/19/undang-undang-tentang-kamar-dagang-dan-industri-kadin" target="__blank">
            <div class="item-left">
                <h4>Undang-Undang Tentang Kamar Dagang dan Industri (KADIN)</h4>
                <p>Undang-Undang No.1 1987 tentang Kamar Dagang dan Industri (KADIN)</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/tentang-kami/uu-ad-art-kadin/49/anggaran-dasar" target="__blank">
            <div class="item-left">
                <h4>Anggaran Dasar</h4>
                <p>Anggaran Dasar Kamar Dagang dan Industri (KADIN) Indonesia</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/tentang-kami/uu-ad-art-kadin/50/anggaran-rumah-tangga" target="__blank">
            <div class="item-left">
                <h4>Anggaran Rumah Tangga</h4>
                <p>Anggaran Rumah Tangga Kamar Dagang dan Industri (KADIN) Indonesia</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

    </div>
</div>