<nav class="navbar navbar-expand-lg fixed-top bg-primary ">
    <div class="container">
        <div class="tabs-menu">
            <div class="menu-item menu-home">
                <a routerLink="/">
                    <i class="fa fa-home"></i> <br />
                    Beranda
                </a>
            </div>
            <div class="menu-item menu-login">
                <a href="https://kadin.id/masuk/" target="_blank">
                    <i class="fas fa-sign-in-alt"></i> <br />
                    Masuk
                </a>
            </div>
        </div>
    </div>
</nav>


<nav class="navbar navbar-bottom navbar-expand-lg fixed-bottom bg-white ">
    <div class="container">
        <div class="tabs-menu">
            <div class="menu-item menu-home">
                <a routerLink="/program/1/cipta-kerja">
                    <i class="fas fa-crosshairs"></i> <br />
                    Program
                </a>
            </div>
            <div class="menu-item">
                <a routerLink="/layanan/1/apec-business-travel-card">
                    <i class="far fa-compass"></i> <br />
                    Layanan
                </a>
            </div>
            
            <div class="menu-center">
                <a routerLink="/menu">
                    <img src="./assets/images/kadin-logo-150x150.png" />
                    Menu
                </a>
            </div>

            <div class="menu-item">
                <a routerLink="/event">
                    <i class="far fa-calendar-alt"></i><br />
                    Acara
                </a>
            </div>

            <div class="menu-item">
                <a routerLink="/berita/1/kabar-utama">
                    <i class="far fa-list-alt"></i><br />
                    Media
                </a>
            </div>

        </div>
    </div>
</nav>
