<section class="section-event">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="big-news">

                            <h2 class="news-title">
                                Silankan klik tombol di bawah ini
                            </h2>

                            <a href="https://kadin.id/public/files/files-0ddf1818ea9a709a1b0ac9a1c3c7ea6f1b2f0764.pdf" target="__blank" class="btn btn-info text-white">Lihat Dokumen Asosiasi Terakreditasi</a>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-12 col-lg-4"> 
                <h3>Keanggotaan</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a routerLink="/keanggotaan/persyaratan-prosedur" class="text-info">Persyaratan dan Prosedur</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/keanggotaan/pendaftaran-online" class="text-info">Pendaftaran Online</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/keanggotaan/cek-keabsahan" class="text-info">Cek Keabsahan Anggota</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/keanggotaan/asosiasi-himpunan" class="text-info ">Asosiasi/Himpunan</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/keanggotaan/asosiasi-terakreditasi" class="text-info active">Asosiasi Terakreditasi</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
</section>