.section-event{
    min-height: 100vh;
    background-color: white;
    padding-top: 100px;
    padding-bottom: 40px;
}

h3{
    font-size: 16px;
    font-weight: bold;
    color: #000090;
}

.title-event{
    font-size: 1.4rem;
}

a{
    cursor: pointer;
}

a.active{
    font-weight: bold;
}

a.router-card{
    color: unset !important;
}

.big-news{
    img{
        width: 100%;
        border-radius: 0px;
        margin-bottom: 10px;
    }

    h2{
        margin-top: 10px;
        margin-bottom: 8px;

        a{
            color:#1d8cf8;
        }
    }

    .date{
        font-size: 13px;
        color: #888;
    }

    p{
        color: #666;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 1.7;
    }
}

.card-title{
    color:#1d8cf8 !important;
    margin-top: -15px;
    font-size: 14px;
}

.title-big{
    margin-top: 35px;
    font-size: 21px;
}

.card{
    box-shadow: none !important;
}

.content{
    white-space: pre-line;
}

.small-title{
    font-size: 16px;
    font-weight: bold;
    color: orangered;
    margin-bottom: 5px;
    text-align: right;
}

.big-title{
    font-size: 28px;
    font-weight: bold;
    color: #000090;
    text-align: right;
    margin-top: 0;
    margin-bottom: 40px;
}