<section class="section-event">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <router-outlet></router-outlet>
            </div>

            <div class="col-md-12 col-lg-4">
                <h3>Tentang Kami</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a routerLinkActive="active" routerLink="/tentang-kami/sejarah" class="text-info">Sejarah</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLinkActive="active" routerLink="/tentang-kami/uu-ad-art" class="text-info">UU/AD/ART Kadin</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLinkActive="active" routerLink="/tentang-kami/peraturan-pedoman" class="text-info">Peraturan dan Pedoman Organisasi</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLinkActive="active" routerLink="/tentang-kami/lambang-mars-hymne" class="text-info">Lambang Mars & Hymne</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLinkActive="active" routerLink="/tentang-kami/struktur-organisasi" class="text-info">Struktur Organisasi</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLinkActive="active" routerLink="/tentang-kami/visi-misi" class="text-info">Visi & Misi</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLinkActive="active" routerLink="/tentang-kami/kadinsupedia" class="text-info">Kadinsupedia</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLinkActive="active" routerLink="/tentang-kami/sekretariat" class="text-info">Sekretariat</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>