.section-event{
    min-height: 100vh;
    background-color: white;
    padding-top: 120px;
    padding-bottom: 40px;
}

.title-event{
    font-size: 1.4rem;
}

a{
    cursor: pointer;
}

a.active{
    font-weight: bold;
}

a.router-card{
    color: unset !important;
}

.big-news{
    img{
        width: 100%;
        border-radius: 0px;
        margin-bottom: 10px;
    }

    h2{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .date{
        font-size: 13px;
        color: #888;
    }

    p{
        color: #666;
        font-size: 17px;
        margin-bottom: 20px;
        line-height: 1.7;
    }
}

.card-title{
    color:#1d8cf8 !important; 
    margin-top: -15px;
    font-size: 14px;
}

.title-big{
    margin-top: 35px;
    font-size: 21px;
}

.card{
    margin-top: 45px;
}