<div class="row">
    <div class="col-md-12">
        <h1>Kebijakan Pemerintah</h1>

        <a class="list-item" href="https://kadin.id/publikasi/list/15/files/kebijakan-ekonomi" target="__blank">
            <div class="item-left">
                <h4>Kebijakan Ekonomi</h4>
                <p>Anda bisa mengunduh dalam bentuk PDF</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/publikasi/list/14/files/program-pembangunan" target="__blank">
            <div class="item-left">
                <h4>Program Pembangunan</h4>
                <p>Anda bisa mengunduh dalam bentuk PDF</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/publikasi/list/13/files/apbn" target="__blank">
            <div class="item-left">
                <h4>APBN</h4>
                <p>Anda bisa mengunduh dalam bentuk PDF</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

    </div>
</div>