<section class="section-event">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="big-news">

                            <h2 class="news-title">
                                Persyaratan Keanggotaan Luar Biasa KADIN
                            </h2>

                            <p>Berdasakan ad/art kadin keppres no. 17/2010 dan skep 130/dp/xii/2011, asosiasi/himpunan
                                yang dapat di terima menjadi Anggota Luar Biasa (ALB) kadin harus memenuhi persyaratan
                                sebagai berikut : </p>


                            <ul class="list-persyaratan">
                                <li>Permintaan Pendaftaran ALB Kadin dengan kop surat Asosiasi/Himpunan</li>
                                <li>Asosiasi / Himpunan didirikan berdasarkan ketentuan peraturan perundang-undangan
                                    yang berlaku</li>
                                <li>Memiliki Anggaran Dasar dan Anggaran Rumah Tangga yang berlandaskan UU Kadin dan
                                    sejalan dengan AD/ART Kadin (Bidang usaha sejenis bagi organisasi
                                    perusahaan/aspirasi yang sama bagi organisasi pengusaha)</li>
                                <li>Tidak berdasarkan keagaman, kesukuan, kedaerahan, ideology /politik dan ras</li>
                                <li>Memiliki Kode Etik Organisasi</li>
                                <li>Tidak memiliki kesamaan nama, merek, lambang/logo, dengan organisasi sejenis yang
                                    sudah ada</li>
                                <li>Pengurus tidak merangkap jabatan pada organisasi sejenis</li>
                                <li>Organisasi pada tingkat Kabupaten/Kota jumlah anggotanya minimal 20
                                    perusahaan/pengusaha kecuali untuk Dewan Bisnis (dibuktikan dengan kepemilikan Kartu
                                    Tanda Anggota Biasa (KTA-B) Kadin</li>
                                <li>Organisasi pada tingkat Provinsi memiliki minimal 30% dari jumlah Kabupaten/Kota
                                </li>
                                <li>Organisasi pada Tingkat Nasional memiliki minimal 30% jumlah Provinsi yang tersebar
                                    di Sumatera, Jawa, Kalimantan, Sulawesi dan Nusa Tenggara-Maluku-Papua (dibuktikan
                                    dengan kepemilikan KTA-LB Kadin Provinsi)</li>
                                <li>Telah berdiri dan telah melaksanakan 1 (satu) kali Musyawarah Anggota-nya (diluar
                                    waktu pendiriannya)</li>
                                <li>Untuk Organisasi Perusahaan : Setiap perusahaan yang menjadi Anggota harus didirikan
                                    dan/atau beroperasi sesuai ketentuan perundang-undangan</li>
                                <li>Untuk Organisasi Pengusaha : Setiap pengusaha yang menjadi anggota harus memiliki
                                    fungsi/jabatan pada perusahaannya sebagai pemilik/komisaris dan/atau pengurus
                                    perusahaan (eksekutif/direksi), serta memiliki NPWP perseorangan</li>
                                <li>Memiliki Sekretariat/Kantor dan Alamat tetap yang jelas berikut perangkat
                                    kelengkapan/peralatan kantor/berpapan nama dan staf/karyawan yang memadai</li>
                                <li>Wajib menyelenggarakan layanan informasi dan pemberdayaan anggota</li>
                                <li>Wajib melaporkan hasil kegiatannya secara periodik satu tahun sekali kepada Kadin
                                    Indonesia</li>
                                <li>Mengisi Formulir Pendaftaran dan melampirkan :</li>
                                <li>AD/ART Organsiasi</li>
                                <li>Daftar Susunan Pengurus dan Daftar Cabang</li>
                                <li>Daftar Alamat Anggota dan KTA-B Kadin</li>
                                <li>Bukti Setor ke Bank (Uang Pangkal dan Uang Iuran) sebagai titipan jika diterima sebagai anggota</li>
                                <li>Bagi Organisasi Perusahaan Tingkat Nasional yang tidak memiliki Cabang di daerah, tetapi ruang lingkup usaha anggotanya berskala nasional atau bersifat nasional sehingga mempunyai pengaruh besar dalam perekonomian nasional dapat menjadi anggota luar biasa Kadin, kedudukannya sama dengan organisasi perusahaan tingkat nasional lainnya</li>
                                <li>Uang Pangkal ALB Tingkat Nasional Rp 5.000.000,-</li>
                                <li>Uang Iuran ALB Tingkat Nasional minimal Rp 2.400.000, per tahun.</li>
                            </ul>

                            <div class="card">
                                <div class="card-body">
                                    <h4>Formulir Pendaftaran Anggota Luar Biasa KADIN</h4>
                                    <a class="text-info" href="https://kadin.id/public/files/files-9f2a00bc13d946747d8e5f46479ccae5d0b0d589.pdf" target="__blank" download>Download Disini</a>
                                </div>
                            </div>

                            <h2 class="news-title">
                                Tata Cara Pendaftaran dan Pendaftaran Ulang Anggota Biasa KADIN
                            </h2>

                            <p>Pendaftaran perusahaan menjadi Anggota Biasa On line dilakukan melalui Kadin Kabupaten/Kota tempat domisili usahanya, lalu mempersiapkan dokumen – dokumen sbb :</p>

                            <ul class="list-persyaratan">
                                <li>Copy Izin Usaha</li>
                                <li>Copy Akta Notaris Pendirian Perusahaan dan Perubahannya</li>
                                <li>Copy Tanda Daftar Perusahaan (TDP) di Dinas Perdagangan</li>
                                <li>Copy KTP Penanggung Jawab Perusahaan dan NPWP</li>
                                <li>Copy Neraca/Laporan Keuangan tahun buku terakhir</li>
                                <li>Pas Photo Penanggung Jawab Perusahaan</li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>Bagi Perorangan atau Usaha Dagang Mikro :</p>
                            <ul>
                                <li>Copy Surat Keterangan Domisili</li>
                                <li>Copy Surat Keterangan Instansi yang berwenang (minimal dari kecamatan)</li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-12 col-lg-4">
                <h3>Keanggotaan</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a routerLink="/keanggotaan/persyaratan-prosedur" class="text-info active">Persyaratan dan Prosedur</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/keanggotaan/pendaftaran-online" class="text-info">Pendaftaran Online</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/keanggotaan/cek-keabsahan" class="text-info">Cek Keabsahan Anggota</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/keanggotaan/asosiasi-himpunan" class="text-info">Asosiasi/Himpunan</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/keanggotaan/asosiasi-terakreditasi" class="text-info">Asosiasi Terakreditasi</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
</section>