<div class="row">
    <div class="col-md-12">
        <h1>Lambang Mars & Hymne</h1>
    </div>

    <div class="col-md-8">
        <h2>Logo Kadin</h2>
        <ul class="list-persyaratan">
            <li>
                Bentuk Lambang Kadin, seperti tertera di samping, terdiri dari:
            </li>
            <li>
                Perahu layar, berwarna kuning emas;
            </li>
            <li>
                Tiga baris riak air dengan lima gelombang, berwarna biru; Perisai, yang dasarnya berwarna putih;
            </li>
            <li>
                Bendera Indonesia di tengah perisai (bagi lambang Kadin Indonesia), dan lambang daerah masing -masing bagi setiap Kadinda;
            </li>
            <li>
                Dua ekor kuda mengapit perisai, berwarna kuning emas;
            </li>
            <li>
                Pita bersimpul, berwarna biru;
            </li>
            <li>
                Motto “Tabah,Jujur, Setia”. pada pita bersimpul
            </li>
        </ul>
    </div>

    <div class="col-md-4">
        <img src="./assets/images/logo-kadin-big.png" />
    </div>

    <div class="col-md-12">
        <br />
    </div>

    <div class="col-md-8">
        <h2>Makna Lambang</h2>
        <ul class="list-persyaratan">
            <li>
                Putih : Melambangkan kesucian, kegotongroyongan berdasarkan persaudaraan, persamaan idiil dan kesatuan.
            </li>
            <li>
                Merah : Melambangkan semangat yang dinamik dalam melaksanakan tugas, usaha dan kewajiban.
            </li>
            <li>
                Kuning emas : Melambangkan ketinggian mutu yang menjadi pegangan dan pedoman dalam melaksanakan usaha.
            </li>
            <li>
                Biru: Melambangkan kesetiaan, kejujuran jiwa, dan semangat dalam melaksanakan usaha mencapai kemajuan usaha dan pembangunan ekonomi.
            </li>
        </ul>
    </div>

    <div class="col-md-4">
        <br /> <br />
        <img src="./assets/images/lambang-kadin.png" />
    </div>


    <div class="col-md-12">
        <br />
    </div>

    <div class="col-md-8">
        <h2>Perahu Layar</h2>
        <ul class="list-persyaratan">
            <li>
                Indonesia sebagai negara kepulauan bahari, dan sejak dahulu kala merupakan daerah yang terdiri dari kota dan bandar pusat perdagangan dan kegiatan ekonomi lain, dan Wawasan Nusantara.
            </li>
            <li>
                Ketabahan, kebenaran, dan tahan uji dalam melaksanakan upaya mencapai cita-cita mengembangkan kemajuan usaha.
            </li>
            <li>
                Wadah tempat bersatu ketiga pelaku ekonomi untuk mencapai cita-cita bangsa menuju masyarakat adil dan makmur.
            </li>
            
        </ul>
    </div>

    <div class="col-md-4">
        <br /> <br />
        <img src="./assets/images/perahu.png" />
    </div>

    <div class="col-md-12">
        <br />
    </div>

    <div class="col-md-8">
        <h2>Gelombang atau riak berwarna biru</h2>
        <ul class="list-persyaratan">
            <li>
                Tiga baris riak air melambangkan persatuan antara ketiga unsur pelaku ekonomi, yaitu unsur swasta, unsur koperasi, dan unsur usaha milik negara/ daerah, yang bersatu dalam Kadin sesuai dengan amanat Undang­ Undang Nomor 1 Tahun 1987 tentang Kamar Dagang dan Industri.
            </li>
            <li>
                Lima riak gelombang melambangkan Pancasila sebagai asas Kadin dan para pengusaha Indonesia dalam memajukan usahanya.
            </li>
            
        </ul>
    </div>

    <div class="col-md-4">
        <br /> <br />
        <img src="./assets/images/gelombang.png" />
    </div>

    <div class="col-md-12">
        <br />
    </div>

    <div class="col-md-8">
        <h2>Kuda, berwarna kuning emas, melambangkan</h2>
        <ul class="list-persyaratan">
            <li>
                Tenaga yang kuat dan efektif yang timbul dari persatuan dan kesatuan pengusaha dari seluruh jenis usaha dalam segala bidang yang ada dalam masyarakat.
            </li>
            <li>
                Hasrat yang didukung daya dan tenaga yang tinggi dari para pengusaha dalam berpartisipasi dalam akselerasi pembangunan ekonomi, baik di daerah maupun dipusat.
            </li>
            
        </ul>
    </div>

    <div class="col-md-4">
        <br /> <br />
        <img src="./assets/images/kuda.png" />
    </div>

    <div class="col-md-12">
        <br />
    </div>

    <div class="col-md-8">
        <h2>Perisai melambangkan</h2>
        <ul class="list-persyaratan">
            <li>
                Wajah yang satu dan kuat yang timbul dari persatuan dan kesatuan menghadapi tantangan dan cobaan.
            </li>
            <li>
                Keampuhan bidang industri dalam menghadapi kemajuan teknologi serta keikutsertaan melaksanakan
            </li>
            
        </ul>
    </div>

    <div class="col-md-4">
        <br /> <br />
        <img src="./assets/images/perisai.png" />
    </div>

    <div class="col-md-12">
        <br />
    </div>

    <div class="col-md-8">
        <h2>Pita bersimpul melambangkan :</h2>
        <ul class="list-persyaratan">
            <li>
                Keterampilan dan keluwesan melaksanakan usaha.
            </li>
            <li>
                Persatuan kesatuan tiga bidang usaha, yaitu perdagangan, industri dan jasa.
            </li>
            
        </ul>
    </div>

    <div class="col-md-4">
        <br /> <br />
        <img src="./assets/images/pita.png" />
    </div>

    <div class="col-md-12">
        <br />
    </div>

    <div class="col-md-8">
        <h2>Daun semanggi melambangkan</h2>
        <ul class="list-persyaratan">
            <li>
                Bagi Kadin Indonesia merah putih berbatas diagonal melambangkan bendera pusaka Sang Dwi Warna, bendera Indonesia
            </li>
            
        </ul>
    </div>

    <div class="col-md-4">
        <br /> <br />
        <img src="./assets/images/daun.png" />
    </div>

    <div class="col-md-12">
        <br />
    </div>

    <div class="col-md-8">
        <h2>Lambang di tengah perisai</h2>
        <ul class="list-persyaratan">
            <li>
                Bagi Kadin Indonesia; Merah Putih berbatas diagonal melambangkan bendera pusaka Sang Dwi Warna, bendera Indonesia.
            </li>

            <li>
                Bagi Kadinda; Lambang daerah, sesuai dengan maknanya masing-masing.
            </li>
            
        </ul>
    </div>

    <div class="col-md-4">
        <br /> <br />
        <img src="./assets/images/pemprovsu.png" />
    </div>

    <div class="col-md-12">
        <br />
    </div>

    <div class="col-md-8">
        <h2>Bendera</h2>
        <p>
            Bendera Kadin berbentuk empat persegi panjang dengan perbandingan sisi tiga banding dua (3:2), berukuran panjang 105 cm dan lebar 70 cm, terdiri dari dua muka timbal-balik yang sama, dengan lambang Kadin di tengah dan untaian benang berwarna kuning emas disekeliling bendera. Di bawah lambang terdapat nama Kadin setempat.
        </p>
    </div>

    <div class="col-md-4">
        <br /> <br />
    </div>


    <div class="col-md-12">
        <br />
    </div>

    <div class="col-md-8">
        <h2>Warna</h2>
        <ul class="list-persyaratan">
            <li>
                Dasar berwarna hijau, melambangkan ketakwaan kepada Tuhan Yang Maha Esa dan ketulusan.
            </li>

            <li>
                Lambang di tengah perisai berbentuk dan berwarna sesuai dengan lambang daerah Kadin masing-masing.
            </li>

            <li>
                Tulisan berwarna kuning melambangkan keeintaan dan kesetiaan terhadap profesi, bangsa dan negara.
            </li>

            <li>
                Untaian benang berwarna kuning emas melambangkan kesatuan dan kejayaan.
            </li>
            
        </ul>
    </div>

    <div class="col-md-4">
        <br /> <br />
       
    </div>

    <div class="col-md-12">
        <br />
    </div>

    <div class="col-md-8">
        <h2>Hymne Nasional Kadin</h2>
        <p>
            Disepanjang zamrud khatulistiwa
        </p>

        <p>
            Tanah air indonesia tercinta 
        </p>
        <p>
            Kadin padukan cita, karsa, dan karya
        </p>

        <p>&nbsp;</p>
        <p>
            Untuk kebanggaan bersama 
        </p>
        <p>
            Mahakarya bagi ibu pertiwi 
        </p>
        <p>
            Kadin berjiwa tabah, jujur setia
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            Mari pengusaha indonesia 
        </p>
        <p>
            Menuju masa depan cemerlang 
        </p>
        <p>
            Satukan niat dan langkah 
        </p>
        <p>
            Demi indonesia sejahtera 
        </p>
        <p>
            Maju bersama kadin
        </p>
    </div>

    <div class="col-md-4">
        <br /> <br />
       
    </div>
   

</div>