p{
    color: #666;
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 1.7;
}

ul{
    padding-left: 25px;
    padding-right: 25px;
    list-style: circle;
}

li{
    font-size: 17px;
    color: #666;
    margin-bottom: 15px;
    line-height: 1.7;
}