<div class="row">
    <div class="col-md-12">
        <h1>Peraturan dan Pedoman Organisasi</h1>

        <a class="list-item" href="https://kadin.id/tentang-kami/peraturan-pedoman-organisasi/34/pedoman-hubungan-kerja-antara-dewan-pengurus-dan-dewan-pertimbangan-badan-aparat-organisasi-panitia-dan-komite-khusus-yang-bersifat-adhoc-dengan-sekretariat-kadin-indonesia" target="__blank">
            <div class="item-left">
                <h4>Pedoman Hubungan Kerja Antara Dewan Pengurus dan Dewan Pertimbangan Badan Aparat Organisasi Panitia dan Komite Khusus yang Bersifat ADHOC dengan Sekretariat Kadin Indonesia</h4>
                <p>Pedoman Hubungan Kerja Antara Dewan Pengurus dan Dewan Pertimbangan Badan Aparat Organisasi Panitia dan Komite Khusus yang Bersifat ADHOC dengan Sekretariat Kadin Indonesia</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/tentang-kami/peraturan-pedoman-organisasi/47/pedoman-organisasi-mengenai-musyawarah-kabupaten-kota-untuk-daerah-yang-kepengurusannya-caretaker" target="__blank">
            <div class="item-left">
                <h4>Pedoman Organisasi Mengenai Musyawarah Kabupaten Kota untuk Daerah yang Kepengurusannya Caretaker</h4>
                <p>Pedoman Organisasi Mengenai Musyawarah Kabupaten Kota untuk Daerah yang Kepengurusannya Caretaker</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/tentang-kami/peraturan-pedoman-organisasi/26/pedoman-organisasi-mengenai-tatacara-pendaftaran-and-pendaftaran-ulang-anggota-biasa" target="__blank">
            <div class="item-left">
                <h4>Pedoman Organisasi Mengenai Tatacara Pendaftaran & Pendaftaran Ulang Anggota Biasa</h4>
                <p></p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/tentang-kami/peraturan-pedoman-organisasi/27/pedoman-organisasi-mengenai-tatacara-pendaftaran-and-pendaftaran-ulang-anggota-luar-biasa" target="__blank">
            <div class="item-left">
                <h4>Pedoman Organisasi Mengenai Tatacara Pendaftaran & Pendaftaran Ulang Anggota Luar Biasa</h4>
                <p></p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/tentang-kami/peraturan-pedoman-organisasi/35/pedoman-pembagian-peran-antara-kadin-dengan-organisasi-perusahaan-dan-organisasi-pengusaha" target="__blank">
            <div class="item-left">
                <h4>Pedoman Pembagian Peran antara Kadin dengan Organisasi Perusahaan dan Organisasi Pengusaha</h4>
                <p>Pedoman Pembagian Peran antara Kadin dengan Organisasi Perusahaan dan Organisasi Pengusaha</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/tentang-kami/peraturan-pedoman-organisasi/33/pedoman-pembentukan-badan-aparat-organisasi-panitia-dan-komite-khusus-yang-bersifat-ad-hoc-kadin-indonesia" target="__blank">
            <div class="item-left">
                <h4>Pedoman Pembentukan Badan Aparat Organisasi Panitia dan Komite Khusus yang bersifat ad hoc Kadin Indonesia</h4>
                <p>Pedoman Pembentukan Badan Aparat Organisasi Panitia dan Komite Khusus yang bersifat ad hoc Kadin Indonesia</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/tentang-kami/peraturan-pedoman-organisasi/46/pedoman-penggabungan-layanan-kadin-kabupaten-kota" target="__blank">
            <div class="item-left">
                <h4>Pedoman Penggabungan Layanan Kadin Kabupaten-Kota</h4>
                <p>Pedoman Penggabungan Layanan Kadin Kabupaten-Kota</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/tentang-kami/peraturan-pedoman-organisasi/48/peraturan-organisasi-mengenai-keprotokolan-kadin-indonesia" target="__blank">
            <div class="item-left">
                <h4>Peraturan Organisasi Mengenai Keprotokolan Kadin Indonesia</h4>
                <p>Peraturan Organisasi Mengenai Keprotokolan Kadin Indonesia</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

    </div>
</div>