<div class="row">
    <div class="col-md-12">
        <h1>Regulasi (UU - Perpres)</h1>

        <a class="list-item" href="https://kadin.id/publikasi/list/7/files/jasa" target="__blank">
            <div class="item-left">
                <h4>Jasa</h4>
                <p>Anda bisa mengunduh dalam bentuk PDF</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/publikasi/list/11/files/pertanian" target="__blank">
            <div class="item-left">
                <h4>Pertanian</h4>
                <p>Anda bisa mengunduh dalam bentuk PDF</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/publikasi/list/10/files/makro" target="__blank">
            <div class="item-left">
                <h4>Makro</h4>
                <p>Anda bisa mengunduh dalam bentuk PDF</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/publikasi/list/8/files/industri" target="__blank">
            <div class="item-left">
                <h4>Industri</h4>
                <p>Anda bisa mengunduh dalam bentuk PDF</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

        <a class="list-item" href="https://kadin.id/publikasi/list/9/files/perdagangan" target="__blank">
            <div class="item-left">
                <h4>Perdagangan</h4>
                <p>Anda bisa mengunduh dalam bentuk PDF</p>
            </div>
            <div class="item-right">
                <i class="fa fa-angle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </a>

    </div>
</div>