<div class="row">
    <div class="col-md-12">
        <div class="big-news">

            <h2 class="news-title">
                Sejarah Kadin Indonesia
            </h2>

            <p>Pengusaha Indonesia menyadari sedalam-dalamnya bahwa dunia usaha nasional yang tangguh
                merupakan tulang punggung perekonomian nasional yang sehat dan dinamis dalam mewujudkan
                pemerataan, keadilan dan kesejahteraan rakyat, serta memperkokoh persatuan dan kesatuan
                bangsa dalam upaya meningkatkan ketahanan nasional dalam percaturan perekonomian
                regional dan internasional.</p>

            <p>Sesuai dengan amanat dan semangat Pasal 33 Undang-Undang Dasar 1945 sebagai landasan
                konstitusional pembangunan di bidang ekonomi, maka pengusaha Indonesia dengan dilandasi
                jiwa yang luhur, bersih, transparan, dan profesional, serta produktif dan inovatif harus
                membina dan mengembangkan kerja sama sinergistik yang seimbang dan selaras, baik
                sektoral dan lintas-sektoral, antar-skala, daerah, nasional maupun internasional, dalam
                rangka mewujudkan iklim usaha yang sehat dan dinamis untuk mendorong pemerataan
                kesempatan berusaha yang seluas-luasnya bagi dunia usaha Indonesia dalam ikut serta
                melaksanakan pembangunan nasional dan daerah di bidang ekonomi.</p>

            <div class="card">
                <div class="card-body">
                    <h4> <i class="fa fa-calendar"></i> &nbsp; 24 September 1968</h4>
                    <p>
                        Pembentukan organisasi Kadin Indonesia pertama kali dibentuk tanggal 24
                        September 1968 oleh Kadin Daerah Tingkat I atau Kadinda Tingkat I (sebutan untuk
                        Kadin Provinsi pada waktu itu) yang ada di seluruh Indonesia atas prakarsa Kadin
                        DKI Jakarta, dan diakui pemerintah dengan Keputusan Presiden Republik Indonesia
                        Nomor 49 Tahun 1973
                    </p>
                </div>
            </div>

            <div class="card bg-warning">
                <div class="card-body">
                    <h4 class="text-white"> <i class="fa fa-calendar"></i> &nbsp; 24 September 1987</h4>
                    <p class="text-white">
                        kemudian dibentuk kembali sesuai dengan ketentuan Undang-Undang Nomor 1 Tahun
                        1987 tentang Kamar Dagang dan Industri dalam Musyawarah Pengusaha Indonesia
                        tanggal 24 September 1987 di Jakarta yang diselenggarakan oleh Pengusaha
                        Indonesia yang tergabung dalam Kadin Indonesia bekerja sama dengan Dewan
                        Koperasi Indonesia (Dekopin) dan wakil-wakil Badan Usaha Milik Negara, didirikan
                        untuk jangka waktu yang tidak ditentukan.
                    </p>
                </div>
            </div>

            <p>
                Undang Undang Nomor 1 Tahun 1987 tentang Kamar Dagang dan Industri menetapkan bahwa
                seluruh pengusaha Indonesia di bidang usaha negara, usaha koperasi dan usaha swasta
                secara bersama-sama membentuk organisasi Kamar Dagang dan Industri sebagai wadah dan
                wahana pembinaan, komunikasi, informasi, representasi, konsultasi, fasilitasi dan
                advokasi pengusaha Indonesia, dalam rangka mewujudkan dunia usaha Indonesia yang kuat
                dan berdaya saing tinggi yang bertumpu pada keunggulan nyata sumber daya nasional, yang
                memadukan secara seimbang keterkaitan antar-potensi ekonomi nasional, yakni
                antar-sektor, antar-skala usaha, dan antar-daerah, dalam dimensi tertib hukum, etika
                bisnis, kemanusiaan, dan kelestarian lingkungan dalam suatu tatanan ekonomi pasar dalam
                percaturan perekonomian global dengan berbasis pada kekuatan daerah, sektor usaha, dan
                hubungan luar negeri.
            </p>

        </div>
    </div>

</div>