<div class="row">
    <div class="col-md-12">
        <div class="big-news">

            <h2 class="news-title">
                Visi & Misi
            </h2>

            <h4>VIsi</h4>
            <p>
                Menjadikan KADIN sebagai pilihan pertama dan utama dalam mewakili suara dan kepentingan dunia usaha
                beserta seluruh stakeholders-nya, berkaitan dengan pembuatan dan implementasi kebijakan ekonomi di
                seluruh Indonesia.
            </p>

            <h4>Misi</h4>

            <ul class="list-persyaratan">
                <li>
                    Struktur dan komposisi organisasi KADIN yang kuat di Pusat dan daerah sehingga menjadi mitra yang
                    strategis dan efektif bagi pemerintah dan dunia usaha.
                </li>
                <li>
                    Reputasi dan kemandirian KADIN yang ternama sebagai sebuah organisasi dunia usaha dari segala aspek:
                    institusi, keuangan, kepemimpinan, pelayanan masyarakat, dukungan politik, dan kerja sama
                    internasional.
                </li>
                <li>
                    Anggota, stakholders, sumber daya, dan pembiayaan yang bergerak seirama dan bersama untuk
                    mempercepat program reindustrialisasi perekonomian nasional, melahirkan local champion yang
                    berpotensi menjadi global citizen.
                </li>
                <li>
                    Kerjasama dengan komunitas bisnis internasional yang paling relevan dan strategis dalam program
                    reindustrialisasi perekonomian nasional. Foreign Direct Investment (FDI), ekspor, dan transfer of
                    knowledge and technology yang signifikan.
                </li>
                <li>
                    KADIN bersama serikat pekerja dan dunia pendidikan menciptakan sebanyak-banyaknya “tenaga siap
                    pakai” dengan kualifikasi internasional.
                </li>
                <li>
                    KADIN bersama pengusaha kreatif menciptakan sebanyak-banyaknya “inovasi dan teknologi siap pakai”
                </li>
                <li>
                    Sumber pendanaan dalam negeri dalam skala massif, berjangka panjang, dan signifikan dalam membangun
                    industri di sektor-sektor yang paling strategis (pangan, perumahan, infrastruktur, energi, dsb).
                </li>

            </ul>



        </div>
    </div>

</div>